<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Y RES</title>
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/yu_utils.js"></script>
    <style type="text/css">
        @import url("css/bootstrap.min.css");
        @import url("css/base_v0.2.1.css");
    </style>
</head>
<body>
<h3>
    Y RES
</h3>
<div>
    <label id="lab_login">请先登录</label>
    <button id="btn_login" value="login">登录</button>
</div>
<br>


<form action="" method="POST" enctype="multipart/form-data" style="display:inline;">
    <input type="file" id="media" name="media" style="display:inline;" multiple="multiple">
    <button id="btn_upload" type="submit" style="display:inline;">上传</button>

</form>
<br><br><label id="tv_01">上传资源包</label><br><br>
<div class="progress" style="display: none;">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
         style="width: 0%;">0%
    </div>
</div>
<br>

<label>Package Info</label>
<pre>
    <div id="info_div" class="info_div scroll"></div>
</pre>


</body>
<script>

    $(document).ready(init);

    let c_user = null;
    let y_token = $.cookie('y_token');
    let info_list = [];
    let uploaded_file = '';

    function init() {

        initUpload();
        postWithToken('{{.context}}/auth/auth_api', y_token, 'user_check', null, userCallback);

        $("#btn_login").click(function (event) {
            logout();
        });

    }

    function logout() {
        $.cookie('y_token', null, {expires: 7, path: '{{.context}}/'});
        window.location.replace('{{.context}}/auth/login?tar=res');
    }

    function list_my_file(user_name) {
        postWithToken('{{.context}}/file_api', y_token, 'list_file',
            {user_name: user_name}, function (data, status) {
                if (status !== 'success') {
                    alert(JSON.stringify(data));
                } else {
                    // alert(data.data);
                    info_list = data.data
                    updatePackageInfo()
                }
            });
    }

    function userCallback(data, status) {
        if (status !== 'success') {
            logout();
        }
        if (data.action === 'user_check' && data.data) {
            showLoginInfo(data.data);
        } else {
            logout();
        }
    }

    function showLoginInfo(user) {
        let label = $("#lab_login");
        let button = $("#btn_login");
        if (user.user_name) {
            c_user = user;
            label.html('您好, ' + user.nick_name + ' ');
            button.html('登出');
            button.unbind("click").click(function (event) {
                logout();
            });
            list_my_file(c_user.user_name);
        } else {
            label.html('请先登录');
            button.html('登录');
            button.unbind("click").click(function (event) {
                logout();
            });
        }

    }

    function initUpload() {
        $('form').on('submit', function (event) {
            // 显示进度条
            $('.progress').css('display', 'block');
            // 阻止元素发生默认的行为，此处用来阻止对表单的提交
            event.preventDefault();
            let formData = new FormData(this);
            // jQuery Ajax 上传文件，关键在于设置：processData 和 contentType
            $.ajax({
                xhr: function () {
                    let xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function (e) {
                        if (e.lengthComputable) {
                            let percent = Math.round(e.loaded * 100 / e.total);
                            $('.progress-bar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                        }
                    });
                    return xhr;
                },
                type: 'POST',
                url: '{{.context}}/upload_file',
                cache: false,
                data: formData,
                // 告诉 jQuery 不要去处理发送的数据
                processData: false,
                // 告诉 jQuery 不要去设置 Content-Type 请求头
                // 因为这里是由 <form> 表单构造的 FormData 对象，且已经声明了属性 enctype="multipart/form-data"，所以设置为 false
                contentType: false,
                headers: {
                    'access-token': y_token
                },
            }).done(function (res) {
                // alert(res.data);
                uploaded_file = res.data[0];
                $("#tv_01").html('上传成功:' + uploaded_file);
                list_my_file(c_user.user_name);
            }).fail(function (res) {
                alert(res);
            });
        });
    }

    function updatePackageInfo() {

        const container = $("#info_div");
        container.empty();
        let viewHtml = '';
        for (let i in info_list) {
            if (!info_list.hasOwnProperty(i)) {
                continue;
            }
            viewHtml += buildLink(info_list[i].url, info_list[i].name) + '<br>';
        }

        container.append(viewHtml);
        if (container[0].clientHeight < container[0].scrollHeight && container[0].scrollTop >= container[0].scrollHeight - container[0].clientHeight - 50) {
            container[0].scrollTop = container[0].scrollHeight;
        }

    }


</script>
</html>