<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Iris Service</title>
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/yu_utils.js"></script>
    <style type="text/css">
        @import url("css/bootstrap.min.css");
        @import url("css/base_v0.2.1.css");
    </style>
</head>
<body>
<h3>
    {{.message}}
</h3>
<br><br>
<div>
    <img src="img/h10.png" width="64" height="64"/><br/>
</div>
<br><br>
<label id="tv_01">HELLO WORLD</label><br><br>

</body>
</html>